= render "shared/create_header"

.article-container.group
  %article.group{:role => "article"}
    .inner
      %h2.header Enter the donor's details
      %p.role-select.group.hidden--no-js
        = link_to "Use my details", "#", {:class => 'js-populate-my-details'}
      = form_for @donor, :url => lpa_donors_path(@lpa), :html => {:class => "form person-form", :novalidate => ""} do |donor_form|
        = render "shared/validation_summary", :form_object => donor_form
        = render :partial => '/shared/person_form', :locals => {:person_form => donor_form, :show_other_names => true, :show_dob => true}
        %fieldset#donor-sign
          .option.group
            %label.optional{:for => "donor_cannot_sign"}
              %input{:type => "hidden", :name => "donor_cannot_sign", :value => "0"}
              %input.donor-cannot-sign{:type => "checkbox", :name => "donor_cannot_sign", :id => "donor_cannot_sign", :value => "1"} This person cannot physically sign the LPA
            %span.hint We'll include an extra signature sheet so someone can sign on their behalf
        %p.action.group
          = donor_form.submit "Save details", class: "button"
          = link_to "Cancel", "#", class: "button-secondary js-popup-close"
