<header class="page-header group">
  <h1>
    Add new donor
  </h1>
</header>
<%= form_for @lpa do |lpa_form| %>
LPA:
  <%= lpa_form.label :type %>
  <%= lpa_form.select :type, ["Financial", "Welfare"] %>
Donor:
  <%= lpa_form.fields_for @lpa.donor do |donor_form| %>
    <%= input_for(donor_form, "title") do %>
      <%= donor_form.select "title", ["Mr", "Ms"] %>
    <% end %>
    <%= input_for(donor_form, "first_name") do %>
      <%= donor_form.text_field "first_name" %>
    <% end %>
    <%= input_for(donor_form, "middle_names") do %>
      <%= donor_form.text_field "middle_names" %>
    <% end %>
    <%= input_for(donor_form, "last_name") do %>
      <%= donor_form.text_field "last_name" %>
    <% end %>
    <%= donor_form.fields_for donor_form.object.address do |donor_address_form| %>
      <%= input_for(donor_address_form, "post_code") do %>
        <%= donor_address_form.text_field "post_code" %>
      <% end %>
      <%= input_for(donor_address_form, "address_line1") do %>
        <%= donor_address_form.text_field "address_line1" %>
      <% end %>
      <%= input_for(donor_address_form, "address_line2") do %>
        <%= donor_address_form.text_field "address_line2" %>
      <% end %>
      <%= input_for(donor_address_form, "address_line3") do %>
        <%= donor_address_form.text_field "address_line3" %>
      <% end %>
      <%= input_for(donor_address_form, "town") do %>
        <%= donor_address_form.text_field "town" %>
      <% end %>
      <%= input_for(donor_address_form, "county") do %>
        <%= donor_address_form.text_field "county" %>
      <% end %>
      <%= input_for(donor_address_form, "country") do %>
        <%= donor_address_form.text_field "country" %>
      <% end %>
    <% end %>
  <% end %>
Attorney:
  <% @lpa.attorneys.each do |attorney| %>
    <%= lpa_form.fields_for "attorneys[]", attorney do |attorney_form| %>
      <%= input_for(attorney_form, "title") do %>
        <%= attorney_form.select "title", ["Mr", "Ms"] %>
      <% end %>
      <%= input_for(attorney_form, "first_name") do %>
        <%= attorney_form.text_field "first_name" %>
      <% end %>
      <%= input_for(attorney_form, "middle_names") do %>
        <%= attorney_form.text_field "middle_names" %>
      <% end %>
      <%= input_for(attorney_form, "last_name") do %>
        <%= attorney_form.text_field "last_name" %>
      <% end %>
      <%= attorney_form.fields_for :address, attorney.address do |attorney_address_form| %>
        <%= input_for(attorney_address_form, "post_code") do %>
          <%= attorney_address_form.text_field "post_code" %>
        <% end %>
        <%= input_for(attorney_address_form, "address_line1") do %>
          <%= attorney_address_form.text_field "address_line1" %>
        <% end %>
        <%= input_for(attorney_address_form, "address_line2") do %>
          <%= attorney_address_form.text_field "address_line2" %>
        <% end %>
        <%= input_for(attorney_address_form, "address_line3") do %>
          <%= attorney_address_form.text_field "address_line3" %>
        <% end %>
        <%= input_for(attorney_address_form, "town") do %>
          <%= attorney_address_form.text_field "town" %>
        <% end %>
        <%= input_for(attorney_address_form, "county") do %>
          <%= attorney_address_form.text_field "county" %>
        <% end %>
        <%= input_for(attorney_address_form, "country") do %>
          <%= attorney_address_form.text_field "country" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= lpa_form.submit "Save and continue" %>
<% end %>