%header.page-header.inner
  %h1 Your LPAs

%article
  .inner
    %div.pull-r You were last signed in on 02/12/2013 17:15:09
    - if @lpas.each.count > 0
      %p These are all the LPAs that you've created.
    - else
      %p You haven't created any LPAs yet.
    = form_for Lpa.new do |f|
      %p
        = f.submit "Create a new LPA", :class => "add button"

    - if @lpas.each.count > 0
      %table#savedForms.lpa-list
        %thead
          %tr
            %th Donor
            %th LPA
            %th Last saved on
            %th LPA Status
            %th
        %tbody
          - @lpas.each do |lpa|
            %tr
              %td= lpa.donor ? lpa.donor.full_name : "No donor yet"
              %td= lpa.type || "No type yet"
              %td= lpa.updated_at ? lpa.updated_at.to_date.strftime('%d/%m/%Y') : "Never updated"
              %td= lpa.status || "Started"
              %td
                .lpa-actions
                  = link_to "Continue", lpa_build_index_path(lpa), :class => "button"
                  = link_to "Delete", "#", :class => "button-warning js-dialog", "data-message" => "Are you sure you want to delete this LPA?"