<h1>Your LPAs</h1>

<p>These are all the LPAs that you've created.</p>
<ul>
  <% @lpas.each do |lpa| %>
    <li>
      <%= link_to lpa_build_index_path(lpa) do %>
        <%= lpa.type || "No type yet" %>
        <%= lpa.donor ? lpa.donor.full_name : "No donor yet" %>
        <%= lpa.updated_at || "Never updated" %>
        <%= lpa.status || "New" %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= form_for Lpa.new do |f| %>
	<%= f.submit "Create a new LPA" %>
<% end %>