<h1>Your LPAs</h1>

<p>These are all the LPAs that you've created.</p>
<%= form_for Lpa.new do |f| %>
	<%= f.submit "Create a new LPA" %>
<% end %>
<%= form_tag find_lpas_path, :method => :get do %>
	<%= number_field_tag :lpa, :id %>
	<%= submit_tag "Find" %>
<% end %>