%header
  %hgroup
    %h1 About you
    %p First, please give us some information about you.
    %p You'll be able to use these details in any LPAs you make using this tool.

.form
  .validation-summary.group{:role => "alert", "aria-labbelledby" => "error-heading"}
    %h1{:id => "error-heading"} There was a problem submitting the form
    %p Because of the following problems:
    %ol
      %li{:href => "#firstname-label"} First name must not be blank
      %li{:href => "#surname-label"} Last name must not be blank

  %fieldset
    %legend Name
    = input_for(person_form, "title") do
      = person_form.select "title", ["Mr", "Ms"]
    = input_for(person_form, "first_name") do
      = person_form.text_field "first_name"
    = input_for(person_form, "middle_names", :label_override => "Middle names (optional)") do
      = person_form.text_field "middle_names"
    = input_for(person_form, "last_name") do
      = person_form.text_field "last_name"

  %fieldset
    %legend Address
    = person_form.fields_for person_form.object.address do |person_address_form|
      = input_for(person_address_form, "address_line1", :label_override => "Street") do
        = person_address_form.text_field "address_line1"
      = input_for(person_address_form, "address_line2", :label_override => "") do
        = person_address_form.text_field "address_line2"
      = input_for(person_address_form, "address_line3", :label_override => "") do
        = person_address_form.text_field "address_line3"
      = input_for(person_address_form, "town") do
        = person_address_form.text_field "town"
      = input_for(person_address_form, "county") do
        = person_address_form.text_field "county"
      = input_for(person_address_form, "post_code") do
        = person_address_form.text_field "post_code"
      = input_for(person_address_form, "country") do
        = person_address_form.text_field "country"