- show_dob ||= false
- without_email ||= false
- without_phone ||= false
%fieldset
  %legend Name
  = input_for(person_form, "title")
  = input_for(person_form, "first_name")
  = input_for(person_form, "middle_names", :label_override => "Middle names (optional)")
  = input_for(person_form, "last_name")

- if show_dob
  %fieldset
    %legend Date of Birth
    = input_for(person_form, "date_of_birth") do
      = person_form.date_select "date_of_birth", { order: [ :day, :month, :year ], start_year: (Time.now.year - 120) }

- unless without_email
  = input_for(person_form, "email", :label_override => "Email (optional)")

- unless without_phone
  = input_for(person_form, "phone", :label_override => "Phone (optional)")

%fieldset
  %legend Address
  = person_form.fields_for person_form.object.address do |person_address_form|
    = input_for(person_address_form, "address_line1", :label_override => "Street")
    = input_for(person_address_form, "address_line2", :label_override => false)
    = input_for(person_address_form, "address_line3", :label_override => false)
    = input_for(person_address_form, "town")
    = input_for(person_address_form, "county")
    = input_for(person_address_form, "post_code")
    = input_for(person_address_form, "country")