%header
  %hgroup
    %h1 About you
    %p First, please give us some information about you.
    %p You'll be able to use these details in any LPAs you make using this tool.

.form
  %fieldset
    %legend Name
    .group
      = person_form.label :title
      = person_form.select "title", ["Mr", "Ms"]
    .group
      = person_form.label :first_name
      = person_form.text_field "first_name"
    .group
      = person_form.label :middle_names, "Middle names (optional)"
      = person_form.text_field "middle_names"
    .group
      = person_form.label :last_name
      = person_form.text_field "last_name"

  %fieldset
    %legend Address
    = person_form.fields_for person_form.object.address do |person_address_form|
      .group
        = person_address_form.label :address_line1, "Street"
        = person_address_form.text_field "address_line1"
      .group
        = person_address_form.text_field "address_line2"
      .group
        = person_address_form.text_field "address_line3"
      .group
        = person_address_form.label :town
        = person_address_form.text_field "town"
      .group
        = person_address_form.label :county
        = person_address_form.text_field "county"
      .group
        = person_address_form.label :post_code
        = person_address_form.text_field "post_code"
      .group
        = person_address_form.label :country
        = person_address_form.text_field "country"