- show_other_names ||= false
- show_dob ||= false
- without_email ||= false
- without_phone ||= false
- show_dx_address ||= false
- show_legends ||= false


%fieldset
  - if show_legends
    %legend Name
  = input_for(person_form, "title")
  = input_for(person_form, "first_name", {}, {:required => "", "parsley-minlength" => "2"})
  = input_for(person_form, "middle_names", {:label_override => "Middle names (optional)"})
  = input_for(person_form, "last_name", {}, {:required => "", "parsley-minlength" => "2"})
  - if show_other_names
    %details
      %summary.hint{:role => "button", "aria-expanded" => "false"} Is this person known by any other names?
      .group
        %label#othername-label{:for => "othername"} Other names
        %input#othername{:name => "othername", :type => "text", :autocomplete => "off", :maxlength => "100"}

- if show_dob
  %fieldset
    - if show_legends
      %legend Date of Birth
    = input_for(person_form, "date_of_birth") do
      = person_form.date_select "date_of_birth", { order: [ :day, :month, :year ], start_year: (Time.now.year - 120) }

- unless without_email
  = input_for(person_form, "email", {:type => "email", :label_override => "Email (optional)"})

- unless without_phone
  = input_for(person_form, "phone", {:label_override => "Phone (optional)"})

%fieldset.address-fieldset
  - if show_legends
    %legend Address
  = person_form.fields_for person_form.object.address do |person_address_form|
    = input_for(person_address_form, "address_line1", {:label_override => "Street"})
    = input_for(person_address_form, "address_line2", {:label_override => false})
    = input_for(person_address_form, "address_line3", {:label_override => false})
    = input_for(person_address_form, "town")
    = input_for(person_address_form, "county")
    = input_for(person_address_form, "post_code", {}, {:class => "postcode"})
    = input_for(person_address_form, "country")

- if show_dx_address
  .group
    %label{:for => "dx_number"} DX number
    %input#dx_number{:name => "dx_number", "type" => "text"}
  .group
    %label{:for => "dx_exchange"} DX exchange
    %input#dx_exchange{:name => "dx_exchange", "type" => "text"}
  -# = input_for(person_address_form, "dx_number", {:label_override => "DX number"})
  -# = input_for(person_address_form, "dx_exchange", {:label_override => "DX exchange"})