= render "shared/create_header"

.article-container.group
  %article.group{:role => "article"}
    .inner
      %h2.header Enter attorney details
      = form_for @attorney, :url => lpa_attorneys_path(@lpa), :html => { :class => 'form', 'novalidate' => '' } do |attorney_form|
        = render "shared/validation_summary", :form_object => attorney_form
        %p.role-select.group
          = link_to "Using a trust corporation?", "#", {:class => 'js-form-popup', "data-form" => "attorney-trust-corporation"}
        = render :partial => '/shared/person_form', :locals => {:person_form => attorney_form, :show_dob => true, :show_dx_address => true}

        %p.action.group
          = attorney_form.submit "Save details", class: "button"
          = link_to "Cancel", "#", class: "button-secondary js-popup-close"