%header.page-header.group
  %hgroup
    %h1 Create an account

.article-container.group
  %article.group{:role => "article"}
    .inner
      .account.form
        = form_for @registration, url: users_registration_path, :html => { :class => "form", :autocomplete => "off" } do |registration_form|
          %p We need an email address and password from you. This is so you can save and retrieve any LPAs you make.
          %p If you already have an account please #{link_to "sign in", users_new_session_path}.
          = render "shared/validation_summary", :form_object => registration_form
          %fieldset
            %legend Email address
            = input_for(registration_form, "username", label_override: 'Enter your email address') do
              = registration_form.email_field "username"
          %fieldset
            %legend Password
            %p Your password must be at least 8 characters long and must contain at least 1 letter and 1 number. Never share your password with others.
            = input_for(registration_form, "password", label_override: "Create a password") do
              = registration_form.password_field "password"
          %hr
          = render partial: "terms_and_conditions"
          %p.action.group
            = registration_form.submit "I understand", class: "button"
